.project-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--project-list-gap));
    margin-left: calc(-1 * var(--project-list-gap));
  }
}

.project-list__item {
  border: 1px solid var(--project-border-color);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--project-list-gap));
    margin-top: var(--project-list-gap);
    margin-left: var(--project-list-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--project-list-gap));
    margin-top: var(--project-list-gap);
    margin-left: var(--project-list-gap);
  }
}

.project-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.project-list__img {
  width: 100%;
  object-fit: cover;
}

.project__link {
  display: block;
  height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__box {
  position: relative;
  overflow: hidden;
}

.box-overlay {
  display: flex;
  align-items: center;
  padding: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg-color);
  transform: translatey(101%);
  transition: transform var(--duration) var(--timing-function);
  overflow: auto;

  .project__link:hover &,
  .project__link:focus & {
    transform: translatey(0);
  }
}

.box-overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.box-content {
  height: 100%;
  padding: 24px 20px;
}

.box-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
  margin-bottom: 4px;
}

.box-content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--grey-text);
}
