:root {
  --body-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-text: #2196f3;
  --black-text: #212121;
  --grey-text: #757575;
  --grey-light-text: rgba(255, 255, 255, 0.6);
  --grey-background: #2f303a;
  --blue-background: #2196f3;
  --grey-light-background: #f5f4fa;
  --light-btn: #f5f4fa;
  --blue-btn: #2196f3;
  --padding-tablet: 60px;
  --padding-main-size: 94px;
  --padding-footer-size: 60px;
  --project-list-gap: 30px;
  --project-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --sm-bg-color: rgba(255, 255, 255, 0.1);
  --img-bg-color: rgba(47, 48, 58, 0.8);
  --overlay-bg-color: rgba(33, 150, 243, 0.9);
  --black-color-light: rgba(0, 0, 0, 0.1);
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --border-color-input: rgba(33, 33, 33, 0.2);
  --placeholder-text: rgba(117, 117, 117, 0.5);
  --footer-form-border: rgba(255, 255, 255, 0.3);
  --footer-form-color: rgba(255, 255, 255, 0.6);
  --mobile-sm-link-: #2196f3;
}
